
h1 {
    text-align: center;
}
#signup div{
    width: 200px;
    overflow: auto;
    background-color: #D9D9D9;
    margin-left: 0;
    text-align: center;
    padding: 30px;
}
#signup form input{
    padding: 5px;
}
.lbutton {
    background-color: black;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border: none;
}
#signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
