
#about {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  
}

#about div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 1.6;
}

.img_r, .img_l{
  width: 350px;
  height: auto;
  border: 5px solid #e6f3ef;
}
.img_r{
  margin-left: 10px;
}
.img_l{
  margin-right: 10px ;
}
